<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/bootstrap.js"></script>
    <title>Detalles</title>
</head>

<body>
  <!--header-->
<%- include('../partials/header') %>
<!--header-->
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="<%= producto.imagenes %>" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= producto.name %></h5>
              <p class="card-text"><%= producto.descripcion %></p>
              <p class="card-text"><small class="text-muted">$<%= producto.precio %></small></p>
              <a class="btn btn-primary" href="/products/edit/<%= producto.id %>" role="button">Editar producto</a>
            </div>
          </div>
        </div>
      </div>
      <!--footer-->
    <%- include('../partials/footer') %>
    <!--footer-->
    
</body>
</html>